table{border-collapse:collapse;}
        .center{text-align:center;}
        .edit{color:green;}
        .delete{color:red;}
        *{font-size:20px;}
        a, u {
          text-decoration: none;
        }